<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav class="sidenav" mode="over">
    <button (click)="sidenav.close()" style="float: right;">Voltar</button>
    <mat-nav-list>
      <mat-list-item (click)="navigateToRoute('/product-list')">
        <a matLine>Produtos</a>
      </mat-list-item>
      <mat-list-item (click)="navigateToRoute('/cart')">
        <a matLine>Carrinho</a>
      </mat-list-item>
      <mat-list-item (click)="navigateToRoute('/add-product')">
        <a matLine>Adicionar Produto</a>
      </mat-list-item>

      <mat-list-item>
        <div *ngIf="current_route == '/product-list' || current_route == '/'">
          <mat-form-field class="info-form-field">
            <mat-label>Categoria</mat-label>
            <mat-select [(ngModel)]="selectedCategory" [formControl]="categoryControl">
              <mat-option [value]="-1">Todas Categorias</mat-option>
              <mat-option *ngFor="let cat of CATEGORY_DATA" [value]="cat">
                {{cat.categoryName}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav #cart_sidenav id="cart-sidenav" class="sidenav" mode="over" position="end" fxHide.gt-sm>
    <button (click)="cart_sidenav.close()">Voltar</button>

    Carrinho
    <app-cart-screen></app-cart-screen>
  </mat-sidenav>

  <!--  <mat-sidenav-content [style.backgroundImage]="backgroundStyle">
-->
  <mat-sidenav-content style="background-color: white;">
    <div style="width: 100%; height: 90px;" *ngIf="isHeaderFloating">

    </div>
    <header id="header-nav-bar" [ngClass]="{'floating-header': isHeaderFloating}">
      <nav class="navbar navbar-expand-sm py-3 border-bottom navbar-light">
        <div class="container">
          <button *ngIf="isSmallScreen" type="button" style="background-color: black; color: #e5a733" mat-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
          </button>
          <div style="display: flex; justify-content: center; align-items: center; z-index: 1;">
            <a href="" class="navbar-brand">
              <img src="assets/images/dkumlook-logo.jpg" alt="Logo" class="logo-img">
            </a>
          </div>
          <div [ngClass]="{'normal-screen': !isSmallScreen, 'hidden-screen': isSmallScreen}">
            <mat-nav-list class="matnavlist">
              <mat-list-item (click)="navigateToRoute('/product-list')">
                <a matLine>Produtos</a>
              </mat-list-item>
              <mat-list-item (click)="navigateToRoute('/cart')">
                <a matLine>Carrinho</a>
              </mat-list-item>
              <mat-list-item (click)="navigateToRoute('/colors')">
                <a matLine>Cores</a>
              </mat-list-item>
              <mat-list-item (click)="navigateToRoute('/sizes')">
                <a matLine>Tamanhos</a>
              </mat-list-item>
              <mat-list-item (click)="navigateToRoute('/categories')">
                <a matLine>Categorias</a>
              </mat-list-item>
              <mat-list-item (click)="navigateToRoute('/add-product')">
                <a matLine>Adicionar Produto</a>
              </mat-list-item>
            </mat-nav-list>
          </div>
          <div>
            <!--<button class="cart-button" (click)="navigateToRoute('/cart')">-->
            <button class="cart-button" (click)="cart_sidenav.toggle()">
              <mat-icon>shopping_cart</mat-icon>
            </button>
          </div>
        </div>
      </nav>
    </header>
    <content id="content-section">
      <router-outlet></router-outlet>
    </content>
    <footer id="footer-section">
      <div class="footer-logo">
        <a href="" class="navbar-brand" aria-label="Início da Loja">
          <img src="assets/images/dkumlook-logo.jpg" alt="Logo" class="footer-brand">
        </a>
      </div>
      <div class="footer-menus">
        <div class="categories">
          Categorias
        </div>
      </div>
    </footer>

  </mat-sidenav-content>
</mat-sidenav-container>
