<mat-sidenav-container class="sidenav-container">

  <!-- MENU SIDENAV -->
  <mat-sidenav #menu__sidenav class="sidenav" mode="over">
    <button (click)="menu__sidenav.close()" style="float: right;">Voltar</button>
    <mat-nav-list>
      <mat-list-item (click)="navigateToRoute('/product-list')">
        <a matLine>Produtos</a>
      </mat-list-item>
      <mat-list-item *ngIf="isLoggedIn" (click)="navigateToRoute('/colors')">
        <a matLine>Cores</a>
      </mat-list-item>
      <mat-list-item *ngIf="isLoggedIn" (click)="navigateToRoute('/sizes')">
        <a matLine>Tamanhos</a>
      </mat-list-item>
      <mat-list-item *ngIf="isLoggedIn" (click)="navigateToRoute('/categories')">
        <a matLine>Categorias</a>
      </mat-list-item>

      <mat-list-item>
        <div *ngIf="current_route == '/product-list' || current_route == '/'">
          <mat-form-field class="info-form-field">
            <mat-label>Categoria</mat-label>
            <mat-select [(ngModel)]="selectedCategory" [formControl]="categoryControl">
              <mat-option [value]="-1">Todas Categorias</mat-option>
              <mat-option *ngFor="let cat of CATEGORY_DATA" [value]="cat">
                {{cat.categoryName}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <!-- CART SIDENAV -->
  <mat-sidenav #cart__sidenav id="cart-sidenav" class="sidenav" mode="over" position="end" fxHide.gt-sm>
    <app-cart-screen *ngIf="cart__sidenav.opened" [sidenav]="cart__sidenav"></app-cart-screen>
  </mat-sidenav>
  <mat-sidenav-content id="sidenav__content" [style.backgroundColor]="content_bgColor" [style.backgroundImage]="content_bgImg">
<!--<mat-sidenav-content id="sidenav__content" [style.backgroundColor]="content_bgColor" [style.backgroundImage]="content_bgImg">-->
    <header id="header-nav-bar" class="fixed-header" [ngClass]="{'opacity-header': !isScrolledDown, 'no-opacity-header': isScrolledDown}">
      <nav class="navbar" [style.backgroundColor]="nav_bar_bgColor">
        <div class="container">
          <button *ngIf="isSmallScreen" type="button" style="background-color: black; color: #e5a733" mat-button (click)="menu__sidenav.toggle()">
            <mat-icon>menu</mat-icon>
          </button>
          <div style="display: flex; justify-content: center; align-items: center; z-index: 1;">
            <a href="" class="navbar-brand">
              <img [src]="your_logo" alt="Logo" class="logo-img">
            </a>
          </div>
          <div [ngClass]="{'normal-screen': !isSmallScreen, 'hidden-screen': isSmallScreen}">
            <mat-nav-list class="matnavlist">
              <mat-list-item *ngIf="isLoggedIn" (click)="navigateToRoute('/colors')">
                <a matLine>Cores</a>
              </mat-list-item>
              <mat-list-item *ngIf="isLoggedIn" (click)="navigateToRoute('/sizes')">
                <a matLine>Tamanhos</a>
              </mat-list-item>
              <mat-list-item *ngIf="isLoggedIn" (click)="navigateToRoute('/categories')">
                <a matLine>Categorias</a>
              </mat-list-item>
              <mat-list-item (click)="navigateToRoute('/orders')">
                <a matLine>Pedidos</a>
              </mat-list-item>
              <mat-list-item (click)="navigateToRoute('/payment')">
                <a matLine>Pagamento</a>
              </mat-list-item>
            </mat-nav-list>
          </div>
          <div class="header__right-buttons">
            <button mat-button (click)="login()"><mat-icon>person</mat-icon></button>
            <button mat-button *ngIf="isLoggedIn" (click)="logout()"><mat-icon>logout</mat-icon></button>
            <button class="cart-button" (click)="cart__sidenav.toggle()">
              <mat-icon>shopping_cart</mat-icon>
            </button>
          </div>
        </div>
      </nav>
    </header>
    <content id="content-section">
      <router-outlet></router-outlet>
    </content>
    <footer id="footer-section" *ngIf="showFooter()" [style.backgroundColor]="footer_bgColor">
      <div class="footer-logo">
        <a href="" class="navbar-brand" aria-label="Início da Loja">
          <img [src]="your_logo" alt="Logo" class="footer-brand">
        </a>
      </div>
      <div class="footer-menus">
        <div class="categories">
          Categorias
        </div>
      </div>
    </footer>
  </mat-sidenav-content>
</mat-sidenav-container>
