<div id="cart-content">
  <div id="cart__header">
    Carrinho de compras
    <button (click)="closeNav()">Close</button>
    <button *ngIf="!cartIsEmpty" (click)="cleanCart()">Limpar Carrinho</button>

  </div>
  <mat-divider></mat-divider>
  <div class="cart__products" *ngIf="PRODUCT_INFO_DATA.length > 0;else empty_cart">
    <div *ngFor="let productInfo of PRODUCT_INFO_DATA" class="product" style="margin-bottom: 10px;">
      <div class="product-infos">
        <div class="product-image-fit">
          <label class="product-image-label">
            <img *ngIf="productInfo.product.images.length > 0" class="secondary-images" [src]="productInfo.product.images[0].imagePath">
          </label>
        </div>
        <div class="product-info">
          <p>
            <a>{{productInfo.product.productName}}</a>
          </p>
          <div>
            <span>Cor: {{productInfo.color.colorName}}| Tam: {{productInfo.size.sizeName}} | Quant: {{productInfo.quantity}}</span>
            <span><h3>R$: {{productInfo.product.productValue}}</h3></span>
          </div>
        </div>
        <button mat-button (click)="removeFromCart(productInfo)"><mat-icon>remove_shopping_cart</mat-icon></button>
      </div>
    </div>
    <mat-divider></mat-divider>
  </div>

  <ng-template #empty_cart>
    Seu carrinho está vazio!
  </ng-template>

  <mat-divider></mat-divider>
  <div id="cart__resume" *ngIf="PRODUCT_INFO_DATA.length">
      <div id="cart__total-value">
        <p class="cart-drawer-text-sm cart-drawer-font-semibold">Subtotal</p>
        <p class="cart-drawer-text-xs cart-drawer-text-right">R$ {{totalValue}}</p>
      </div>
      <mat-divider></mat-divider>
      <div id="cart__excursion">
        <mat-form-field style="width: 100%; padding: 10px 0px;">
          <mat-label>Excursão</mat-label>
          <input matInput type="text" [formControl]="excursionControl" #excursionInput>
        </mat-form-field>
      </div>
      <mat-divider></mat-divider>
      <div id="cart__finalize">
        <button class="cart__button_finalize" (click)="sendOrder()">
          <span>Finalizar pedido</span>
          <span>R$ {{totalValue}}</span>
        </button>
      </div>
      <mat-divider></mat-divider>
      <button type="button" class="cart__button-continue-buying" (click)="closeNav()" aria-label="Dismiss">Continuar comprando</button>
  </div>
</div>
